.*.sw?
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
_cache
_site
out/
.stack-work
coverage
hakyll-4.9.8.0
pandoc-2.0
pandoc-citeproc-0.10.5.1
posts
